* {
    background-color: aliceblue;
}

.header {
    color: blueviolet;
      
}

section {
    width: 50%;
    height: 300px;
}

nav {
list-style: none;
font-weight: bold;
display: flex;
flex-wrap: wrap;
justify-content: end;
}

.title {
    display: flex;
    justify-content: center;
}

.box {
    margin: auto;
    margin-top: 100px;
    width: 50%;
    border: 3px solid black;
    padding: 20px;
}