* {
    background-color: aliceblue;
}

header.header {
    color: blueviolet;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
      
}

section {
    width: 50%;
    height: 300px;
}

nav {
list-style: none;
font-weight: bold;
justify-content: end;
}

nav ul li {
    display: inline;
}

.title {
    display: flex;
    justify-content: center;
}

.box {
    margin: auto;
    margin-top: 100px;
    width: 50%;
    border: 3px solid black;
    padding: 20px;
}
/* button developement*/
button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 22px;
    background-color: blueviolet;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px darkgrey;
}

button:hover{
    background-color: rgb(114, 0, 221);
}

button:active {
    background-color: rgb(114, 0, 221);
    box-shadow: 0 5px rgb(99, 99, 99);
    transform: translateY(3px);
    transition-duration: 80ms;
}